<section class="player-bar" ng-controller="PlayerBarCtrl as playerBar">

	<div class="container">

		<div class="control-group main-controls">

			<a class="previous" ng-click="playerBar.songPlayer.previous()">
				<span class="ion-ios-arrow-back"></span>
			</a>
			
			<!---------play/pause------>
			<span ng-mouseover="hovered = true" ng-mouseleave="hovered = false">
				
				<a class="play-pause">
					
					<span class="ion-play"
						  ng-show="!playerBar.songPlayer.currentSong.playing"
						  ng-click="playerBar.songPlayer.play()">
					</span>
					<span class="ion-pause"
						  ng-show="playerBar.songPlayer.currentSong.playing"
						  ng-click="playerBar.songPlayer.pause()">
					</span>

				</a>
			</span>
				<!-- -->

			<a class="next" ng-click="playerBar.songPlayer.next()">
				<span class="ion-ios-arrow-forward"></span>
			</a>
		</div>

		<div class="control-group currently-playing">

			<h2 class="song-name">
				{{ playerBar.songPlayer.currentSong.title }}
			</h2>

			<h3 class="artist-name">
				{{ playerBar.albumData.artist }}
			</h3>

			<h2 class="artist-song-mobile">
				{{ playerBar.albumData.artist }} - {{ playerBar.albumData.title }}
			</h2>

			<div class="seek-control">

				<seek-bar></seek-bar>

				<div class="current-time" id="timeleft">0:00</div>

				<div class="total-time">
					{{ playerBar.songPlayer.currentSong.duration * 1000 | date: 'm : ss' }}</div>

			</div>

		</div>

		<div class="control-group volume">

			<span class="ion-ios-volume-high icon"></span>

			<seek-bar></seek-bar>

		</div>

	</div>

</section>